.editorconfig
.gitattributes
.gitignore
.github
.nyc_output
coverage/
tools/
CODE_OF_CONDUCT.md
CONTRIBUTING.md
.clinic

# tsconfig
types/tsconfig.json

# test certification
test/https/fastify.cert
test/https/fastify.key
