name: Benchmark-parser

on:
  pull_request_target:
    types: [labeled]

jobs:
  benchmark:
    if: ${{ github.event.label.name == 'benchmark' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      PR-BENCH-14: ${{ steps.benchmark-pr.outputs.BENCH_RESULT14 }}
      PR-BENCH-16: ${{ steps.benchmark-pr.outputs.BENCH_RESULT16 }}
      PR-BENCH-18: ${{ steps.benchmark-pr.outputs.BENCH_RESULT18 }}
    strategy:
      matrix:
        node-version: [14, 16, 18]
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
          ref: ${{github.event.pull_request.head.sha}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: |
          npm install --only=production --ignore-scripts

      - name: Run benchmark
        id: benchmark-pr
        run: |
          npm run benchmark:parser > ./bench-result.md
          result=$(awk '/requests in/' ./bench-result.md)
          echo "::set-output name=BENCH_RESULT${{matrix.node-version}}::$result"

  output-benchmark:
    needs: [benchmark]
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          message: |
            **Node**: 14
            **Type**: Parser
            **PR**: ${{ needs.benchmark.outputs.PR-BENCH-14 }}
            
            ---
            
            **Node**: 16
            **Type**: Parser
            **PR**: ${{ needs.benchmark.outputs.PR-BENCH-16 }}
            
            ---
            
            **Node**: 18
            **Type**: Parser
            **PR**: ${{ needs.benchmark.outputs.PR-BENCH-18 }}

      - uses: actions-ecosystem/action-remove-labels@v1
        with:
          labels: |
            benchmark
          github_token: ${{ secrets.GITHUB_TOKEN }}
