name: ci

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '*.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    outputs:
      COVERALLS: ${{ steps.coveralls-trigger.outputs.COVERALLS_TRIGGER }}

    strategy:
      matrix:
        node-version: [10, 12, 14, 16, 17]
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: |
          npm install --ignore-scripts

      - name: Check licenses
        run: |
          npm run license-checker

      - name: Run tests
        run: |
          npm run test:ci

      - name: Coveralls Parallel
        id: coveralls-parallel
        continue-on-error: true
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          parallel: true
          flag-name: run-${{ matrix.node-version }}-${{ matrix.os }}

      - name: Should Trigger coverallsapp/github-action@master
        id: coveralls-trigger
        # https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#steps-context
        # when continue-on-error failed, outcome is failure and conclusion is success
        if: steps.coveralls-parallel.conclusion == 'success' && steps.coveralls-parallel.outcome != 'success'
        run: |
          echo "::set-output name=COVERALLS_TRIGGER::failure"
          

  coverage:
    needs: test
    runs-on: ubuntu-latest
    if: needs.test.outputs.COVERALLS != 'failure'
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true

  automerge:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: fastify/github-action-merge-dependabot@v3.0.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          target: minor

  package:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: install fastify
        run: |
          npm install --ignore-scripts
      - name: install bundler stack
        run: |
          cd test/bundler/webpack && npm install
      - name: Test bundle
        run: |
          cd test/bundler/webpack && npm run test
