name: integration

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '*.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'

jobs:
  install-production:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    
    strategy:
      matrix:
        node-version: [14, 16, 18, 20]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
      
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Pnpm
        uses: pnpm/action-setup@v2
        with:
          # pnpm@8 does not support Node.js 14
          version: 7
      
      - name: Install Production
        run: |
          pnpm install --prod

      - name: Run server
        run: |
          node integration/server.js &

      - name: Test
        if: ${{ success() }}
        run: |
          bash integration/test.sh
