name: "Pull Request Labeler"
on: pull_request_target

permissions:
  contents: read
  pull-requests: write

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v5
      with:
        # Workaround only valid until the next major version bump (v5)
        sync-labels: ''
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
