name: Internal Links Check

on:
  pull_request:
    paths:
      - 'docs/**'
      - '**/*.md'
      - '.github/workflows/links-check.yml'

permissions:
  contents: read

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out repo
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      # It will be possible to check only for the links in the changed files
      # See: https://github.com/lycheeverse/lychee-action/issues/17
      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@8646ba30535128ac92d33dfc9133794bfdd9b411 # 2.8.0
        with:
          fail: true
          # As external links behavior is not predictable, we check only internal links
          # to ensure consistency.
          # See: https://github.com/lycheeverse/lychee-action/issues/17#issuecomment-1162586751
          args: --offline --verbose --no-progress './**/*.md'
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: External Link Checker
        uses: JustinBeckwith/linkinator-action@f62ba0c110a76effb2ee6022cc6ce4ab161085e3 # 2.4.0
        with:
          paths: "*.md **/*.md"
          retry: true
          redirects: error
          linksToSkip: "https://github.com/orgs/fastify/.*"
